@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #fcd34d; /* warm yellow */
  --color-primary-hover: #fbbf24; /* deeper yellow */

  --color-background: #0f0f0f; /* richer black with subtle warmth */
  --color-sidebar-bg: #181818; /* smooth dark gray, less brown */

  --color-text: #f5f5f4; /* light stone */
  --color-text-secondary: #a8a29e; /* muted gray-brown */
  --color-border: #3f3f46; /* zinc-700 */

  --color-card-bg: #1c1c1c; /* neutral dark */
  --color-card-hover: #262626; /* lighter hover */

  --color-accent: #f97316; /* vibrant orange */
  --color-accent-hover: #ea580c; /* vivid deep orange */
}
.dark {
  --color-primary: #f97316; /* vibrant orange */
  --color-primary-hover: #ea580c; /* deeper orange */

  --color-background: #ff99000a; /* clean white */
  --color-sidebar-bg: #f9fafb; /* light gray background */

  --color-text: #0f0f0f; /* near black for main text */
  --color-text-secondary: #4b5563; /* gray-600 for secondary text */
  --color-border: #dcdee2; /* light zinc-200 border */

  --color-card-bg: #ff990017; /* subtle off-white for cards */
  --color-card-hover: #f3f4f6; /* soft gray hover */

  --color-accent: #f97316; /* vibrant orange (same as primary) */
  --color-accent-hover: #ea580c; /* strong hover accent */
}

.glass {
  background: var(--color-background) / 75%;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.radial {
  background: radial-gradient(
    circle,
    var(--color-background) 0%,
    transparent 100%
  );
}

.bg-conic-gradient-purple {
  background: conic-gradient(
    from 90deg at 50% 50%,
    #e2cbff 0%,
    var(--color-accent) 50%,
    var(--color-primary) 100%
  );
}

span.circle {
  animation: round 3s linear infinite;
}

@keyframes round {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100px, 0);
  }
  50% {
    transform: translate(100px, -100px);
  }
  75% {
    transform: translate(0, -100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.bx-shadow {
  box-shadow: 0 0 20px 20px var(--color-accent), 0 0 20px 20px #3662f4;
}
